.upload {
  width: 100%;
  height: 100vh;
}

.upload .label {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bolder;
}

.upload .upload-btns {
  width: 100%;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.upload .upload-btns .btn-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 40px;
}

.upload .upload-btns .btn-set .btn {
  width: 4rem;
  height: 4rem;
  border: none;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 10px;
  background: transparent;
  outline: none;
  font-family: 'Poppins';
}

.upload .upload-btns .btn-set .btn i {
  color: black;
  font-size: 20px;
}

.upload .upload-btns .btn-set .btn-label {
  font-family: 'Poppins';
  font-size: 10px;
}

.gallery {
  width: 100%;
  height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  overflow: hidden;
}

.gallery .up-image {
  width: 90%;
  height: 100%;
  border: 1px solid black;
  margin-top: 5vh;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.gallery .up-image img {
  width: 100%;
  height: 100%;
}

.gallery .custombtn {
  width: 140px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: transparent;
  border: .5px solid #000;
  color: #000;
  margin: 20px 0;
}
/*# sourceMappingURL=upload.css.map */