.upload {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #bdc3c7, #2c3e50);
}

.upload .label {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bolder;
  color: white;
}

.upload .upload-btns {
  width: 100%;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
  color: white;
}

.upload .upload-btns .btn-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 40px;
}

.upload .upload-btns .btn-set .btn {
  width: 4rem;
  height: 4rem;
  border: none;
  border: 1px solid white;
  border-radius: 50%;
  margin-bottom: 10px;
  background: transparent;
  outline: none;
  font-family: "Poppins";
}

.upload .upload-btns .btn-set .btn i {
  color: white;
  font-size: 20px;
}

.upload .upload-btns .btn-set .btn-label {
  font-family: "Poppins";
  font-size: 10px;
}

.preview {
  width: 100%;
  height: 663px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.preview .preview-text {
  margin: 20px 0;
  width: 100%;
  height: 19.89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  padding: 20px;
  text-align: center;
}

.preview .preview-text .text {
  font-size: 17px;
}

.preview .post-content {
  width: 90%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preview .post-content .input {
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid black;
  background: none;
  padding: 5px;
}

.preview .preview-img {
  width: 90%;
  height: 320px;
  margin-top: 33.15px;
  border-radius: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.preview .preview-img img {
  width: 100%;
  height: 100%;
}

.preview .custombtn {
  width: 140px;
  height: 30px;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 2px;
  border: 0.5px solid black;
  color: #000;
  margin: 20px 10px;
}

.preview .custombtn:active {
  background: #f0f0f0;
}
/*# sourceMappingURL=upload.css.map */