@mixin flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.upload {
    width: 100%;
    height: 100vh;
    // background: linear-gradient(45deg, #bdc3c7, #2c3e50);
    background: #f3f3ff;
    .label {
        width: 100%;
        height: 5rem;
        @include flex();
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: bolder;
        color: black;
    }
    .upload-btns {
        width: 100%;
        height: 20rem;
        @include flex();
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 2rem;
        color: black;
        .btn-set {
            @include flex();
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            margin: 0 40px;
            .btn {
                width: 4rem;
                height: 4rem;
                border: none;
                margin-bottom: 10px;
                border-radius: 50%;
                background: #f3f3ff;
                box-shadow: 8px 8px 16px #cfcfd9, -8px -8px 16px #ffffff;
                outline: none;
                font-family: "Poppins";
                i {
                    color: black;
                    font-size: 20px;
                }
            }
            .btn:active {
                border-radius: 50%;
                background: #f3f3ff;
                box-shadow: inset 8px 8px 16px #cfcfd9, inset -8px -8px 16px #ffffff;
            }
            .btn-label {
                font-family: "Poppins";
                font-size: 10px;
            }
        }
    }
}

.preview {
    width: 100%;
    height: 663px;
    @include flex();
    flex-direction: column;
    justify-content: flex-start;
    // background: linear-gradient(45deg, #bdc3c7, #2c3e50);
    .preview-text {
        margin: 20px 0;
        width: 100%;
        height: 19.89px;
        @include flex();
        text-transform: capitalize;
        padding: 20px;
        text-align: center;
        .text {
            font-size: 17px;
        }
    }
    .post-content {
        width: 90%;
        height: 10%;
        @include flex();
        .input {
            outline: none;
            width: 100%;
            height: 100%;
            border-radius: 2px;
            border: none;
            border-bottom: 1px solid black;
            background: none;
            padding: 5px;
        }
    }
    .preview-img {
        width: 90%;
        height: 350px;
        margin-top: 33.15px;
        border-radius: 15px;
        @include flex();
        // background: #f3f3ff;
        box-shadow: 8px 8px 16px #d6d6e0, -8px -8px 16px #ffffff;
        img {
            outline: none;
            border: none;
            width: 70%;
            height: 100%;
            padding: 10px 0;
            border-radius: 4px;
        }
    }
    .custombtn {
        width: 140px;
        height: 30px;
        border: none;
        outline: none;
        background: transparent;
        border-radius: 20px;
        color: #000;
        margin: 20px 10px;
        box-shadow: 8px 8px 16px #d6d6e0, -8px -8px 16px #ffffff;
    }
    .custombtn:active {
        box-shadow: inset 8px 8px 16px #d6d6e0, inset -8px -8px 16px #ffffff;
    }
}
.PrivateTabIndicator-colorSecondary-3{
    background-color: black;
}