@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    letter-spacing: 1px;
}
:root{
    --text-color:black;
}
a{
    color: white;
    text-decoration: none;
}
body{
    position: relative;
}